<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/cleaner.css">
    <link rel="stylesheet" href="style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>WhatsApp</title>
</head>

<body>
    <div class="wa__bg">
        <div class="top-bg"></div>
        <div class="wa__main-container" id="app">
            <div class="wa__contacts-section">
                <!-- contacts header section -->
                <div class="wa__contacts__header">
                    <div class="wa__contacts__user-info">
                        <div class="wa__contacts__user-info__img">
                            <img src="img/avatar_io.jpg" alt="user">
                        </div>
                        <div class="wa__contacts__user-info__name">
                            <h2>John Doe</h2>
                        </div>
                    </div>
                    <div class="wa__contacts__user-settings">
                        <div class="wa__contacts__user-settings__item">
                            <i class="fa-regular fa-circle"></i>
                        </div>
                        <div class="wa__contacts__user-settings__item">
                            <i class="fa-solid fa-message"></i>
                        </div>
                        <div class="wa__contacts__user-settings__item">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                </div>
                <!-- / contacts header section -->

                <!-- contacts banner -->
                <div class="wa__contacts__notification__banner">
                    <div class="wa__contacts__notification__banner__icon">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="wa__contacts__notification__banner__text">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                <!-- / contacts banner -->

                <!-- contacts serach section -->
                <div class="wa__contacts__search-section">
                    <div class="wa__contacts__search-section__input">
                        <i class="fa-solid fa-search"></i>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" id="searchInput"
                            @keyup="userSearch">
                    </div>
                </div>
                <!-- / contacts serach section -->
                <div class="wa__contacts__contacts-list-section">
                    <div class="wa__contacts__contacts-list">
                        <!-- contact card -->
                        <div class="wa__contacts__contact-item" v-for="contact in contacts"
                            @click="activeThisContact(contact)" v-if="contact.visible">
                            <div class="wa__contacts__contact-item__img">
                                <img :src="imgTemplate(contact)" :alt="contact.name">
                            </div>
                            <div class="wa__contacts__contact-item__data">
                                <div class="wa__contacts__contact-item__name">
                                    <p>{{contact.name}}</p>
                                </div>
                                <div class="wa__contacts__contact-item__last-message">
                                    <p>{{lastMessage(contact)}}</p>
                                </div>
                            </div>
                            <div class="wa__contacts__contact-item__last-online">
                                <p>{{lastRecivedMessageData(contact)}}</p>
                            </div>
                        </div>
                        <!-- contact card -->
                    </div>

                </div>
            </div>
            <!-- Messages section -->
            <div class=" wa__messages-section">
                <header class="wa__messages__header">
                    <div class="wa__messages__contact-info">
                        <div class="wa__messages__contact-img-wrapper" v-if="activeContact">
                            <img :src="imgTemplate(activeContact)" :alt="activeContact.name">
                        </div>
                        <div class="wa__messages__contact-info-wrapper" v-if="activeContact">
                            <div class="wa__messages__contact-name">
                                <h2>{{activeContact.name}}</h2>
                            </div>
                            <div class="wa__messages__contact-status">
                                <p>{{lastRecivedMessageData(contact)}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="wa__messages__contact-icons">
                        <div class="wa__messages__contact-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="wa__messages__contact-icon">
                            <i class="fa-solid fa-paperclip"></i>
                        </div>
                        <div class="wa__messages__contact-icon">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                </header>
                <div class="wa__messages__body">
                    <div :class="message.status === 'sent' ? 'wa__messages__message-container wa__messages__message-container--sent' : 'wa__messages__message-container'"
                        v-if="activeContact" v-for="message in activeChat">
                        <div
                            :class="message.status === 'sent' ? 'wa__messages__message-wrapper wa__messages__message-wrapper--sent' : 'wa__messages__message-wrapper'">
                            <div class="wa__messages__message-content">
                                <p>{{message.message}}</p>
                            </div>
                            <div class="wa__messages__message-time">
                                <p>{{editDateToTime(message.date)}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="wa__messages__footer">
                    <div class="wa__messages__footer__emojies-icon">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <div class="wa__messages__footer__input-message">
                        <input type="text" placeholder="Type a message..." id="messageInput"
                            @keyup.enter="getNewMessage()">
                    </div>
                    <div class="wa__messages__footer__audio-icon">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </footer>
            </div>
            <!-- / Messages section -->
        </div>
    </div>
    <script src="script/script.js" type="module"></script>
</body>

</html>